{% extends 'partials/base.html' %}

{% load static %}

{% block content %}
<main class="main pages">

    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mx-auto text-center">
                    <h2 class="title heading-1 style-3 mb-40">Recycle your school items with <span
                            class="text-brand">Snave Sales</span> today</h2>
                </div>
                <div class="col-xl-8 col-lg-12 mx-auto">
                    <div class="single-content mb-50">
                        <h3>1. Account Registering</h3>
                        <p>To begin selling with us, you have to open an account, by clicking on the Register
                            button.</p>

                        <h3>2. Update Vendor</h3>
                        <p>In the dashboard, update vendor profile, without this, you will be unable to add a new
                            product.
                            Enter your Whatsapp number in internation format (23480xxxxxxxx) without "+", or "( )".
                            Proceed to Add your product and enjoy first 3 months (90 Days) free.
                            button.</p>

                        <h3>3. Make a Yearly payment</h3>
                        <p>The first 3 months is FREE, following that, you are expected to make a payment of NGN 2,000
                            (two thousand naira only) to activate your account. This is a payment that requires yearly
                            renewer</p>

                        <h3>4. Upload your item</h3>
                        <p>Upload your item, which gets published after passing through checks, within a period of
                            24hours.</p>

                        <h3>5. Start Selling</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}